<h1>Bienvenue sur The Gossip Project</h1>
<p>Find me in app/views/home/index.html.erb</p>
    <h2> Voici les gossips:</h2>
<% @gossip.each do |gossip| %>
  <table class="table">
    <td class="text-left"><%= gossip.user.first_name %></td>
    <td class="text-align"><%= gossip.title %></td>
  </table>
<% end %>